<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317683354153-he9jq0gp1kb4rrgr17l0bkmv0opmem61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317683354153-he9jq0gp1kb4rrgr17l0bkmv0opmem61</string>
	<key>API_KEY</key>
	<string>AIzaSyADuA0YilWV70kb6Epf6C443OrQv47BOHg</string>
	<key>GCM_SENDER_ID</key>
	<string>317683354153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.Ivy</string>
	<key>PROJECT_ID</key>
	<string>ivy-journaling</string>
	<key>STORAGE_BUCKET</key>
	<string>ivy-journaling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317683354153:ios:317297d135e02839a4ea38</string>
</dict>
</plist>